<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jpa-2.0</feature>
        <feature>jaxrs-1.1</feature>
        <feature>jsonp-1.0</feature>
        <feature>servlet-3.1</feature>
        <feature>jdbc-4.1</feature>
        <feature>ejbLite-3.1</feature>
        <feature>appSecurity-2.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

    <!-- User and group security definitions -->
    <basicRegistry id="basic" realm="customRealm">
     	<user name="rbarcia" password="bl0wfish"/>
     	<group name="SecureShopper">
        	<member name="rbarcia"/>
     	</group>
   </basicRegistry>

    <keyStore password="passw0rd"></keyStore>

    <authData id="DefaultNode01/CustOrderAuthAlias" password="passw0rd" user="db2inst1"/>

    <jdbcDriver id="DB2_Universal_JDBC_Driver_Provider" javax.sql.DataSource="com.ibm.db2.jcc.DB2ConnectionPoolDataSource">
        <library>
            <file name="${shared.resource.dir}/lib/db2jcc.jar"/>
            <file name="${shared.resource.dir}/lib/db2jcc_license_cu.jar"/>
        </library>
    </jdbcDriver>

    <jdbcDriver id="DB2_Universal_JDBC_Driver_Provider_(XA)" javax.sql.DataSource="com.ibm.db2.jcc.DB2XADataSource">
        <library>
            <file name="${shared.resource.dir}/lib/db2jcc.jar"/>
            <file name="${shared.resource.dir}/lib/db2jcc_license_cu.jar"/>
        </library>
    </jdbcDriver>


   <dataSource containerAuthDataRef="DefaultNode01/CustOrderAuthAlias" id="OrderDS" jdbcDriverRef="DB2_Universal_JDBC_Driver_Provider_(XA)" jndiName="jdbc/orderds" transactional="true" >
        <properties.db2.jcc databaseName="ORDERDB" serverName="172.16.50.215" portNumber="30475" user="db2inst1" password="passw0rd" />
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="10" minPoolSize="0" reapTime="180"/>
    </dataSource>


    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Define application and its classloaders -->
    <application id="customerOrderServicesApp" location="${shared.app.dir}/CustomerOrderServicesApp.ear" name="CustomerOrderServicesApp.ear" type="ear">
		<classloader apiTypeVisibility="spec, ibm-api, third-party"/>
    </application>

</server>
